@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600;700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* @theme {
  --color-primary: #1BBDE4; 
  --color-secondary: #FFD700; 
  --color-deep-blue: #0D47A1; 
}

:root {
  --primary: #1BBDE4;
  --secondary: #FFD700;
} */

@font-face {
  font-family: "HeadlineBangla";
  src: url("./assets/fonts/headlineBangla.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "SulaimanLipi";
  src: url("./assets/fonts/sulaimanLipi.ttf") format("truetype");
  font-weight: normal;
}

.font-big {
  font-family: "HeadlineBangla", sans-serif !important;
}

.font-secondBig {
  font-family: "Hind Siliguri", sans-serif !important;
}

.font-small {
  font-family: "SulaimanLipi", sans-serif !important;
}
